/* body{
    background-color: rgba(6, 5, 5, 0.959);
} */


#Services{
    font-weight: 600;
}



#eng{
    padding-right: 1px;
}

#twitter{
padding-right: 5px;
}

#fb{
padding-right: 5px;
}